<form
  [formGroup]="emprestimoForm"
  (ngSubmit)="calcularEmprestimo()"
  class="card p-4 shadow-sm"
>
  <h5 class="mb-4">Solicitação de Empréstimo</h5>

  <div
    class="alert alert-danger"
    *ngIf="emprestimoForm.invalid && emprestimoForm.touched"
  >
    Existem campos inválidos no formulário.
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Valor solicitado (máx. 50.000)</label>
      <input
        type="number"
        class="form-control"
        formControlName="valorSolicitado"
        inputmode="numeric"
        pattern="[0-9]*"
      />

      <small
        class="text-danger"
        *ngIf="emprestimoForm.get('valorSolicitado')?.errors?.['max']"
      >
        O valor máximo permitido é R$ 50.000
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">Parcelas (máx. 48)</label>
      <input
        type="number"
        class="form-control"
        formControlName="parcelas"
        inputmode="numeric"
        pattern="[0-9]*"
      />

      <small
        class="text-danger"
        *ngIf="emprestimoForm.get('parcelas')?.errors?.['max']"
      >
        Máximo de 48 parcelas
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">Taxa de Juros</label>
      <input
        type="text"
        class="form-control"
        formControlName="taxaJuros"
        readonly
      />
      <small class="text-muted"> Taxa fixa de 2% ao mês </small>
    </div>
  </div>
  <div *ngIf="resultadoSimulacao">
    <p>Total: R$ {{ resultadoSimulacao.valorTotal }}</p>
    <p>Parcela: R$ {{ resultadoSimulacao.valorParcela }}</p>
  </div>
  <div class="mt-4 d-flex gap-2">
    <button type="submit" class="btn btn-warning">Calcular</button>

    <button
      class="btn btn-success"
      [disabled]="emprestimoForm.invalid || !podeSolicitar"
      (click)="solicitarEmprestimo()"
    >
      Solicitar
    </button>
  </div>
</form>
