<div class="container-fluid py-4">
  <div class="mb-4">
    <h3 class="fw-semibold">Extrato de Transações</h3>
    <p class="text-muted small mb-0">
      Visualize todas as suas transações realizadas.
    </p>
  </div>

  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h5 class="fw-semibold mb-3">
        <i class="fa-solid fa-list me-2 text-primary"></i>
        Lista de Transações
      </h5>
      <div class="row g-3 align-items-end mb-3">
        <div class="col">
          <label class="form-label">Data inicial</label>
          <input type="date" class="form-control" [(ngModel)]="dataInicial" />
        </div>

        <div class="col">
          <label class="form-label">Data final</label>
          <input type="date" class="form-control" [(ngModel)]="dataFinal" />
        </div>
      </div>
      <div class="row g-3 align-items-end mb-3">
        <div class="col-2">
          <button class="btn btn-primary w-100" (click)="filtrar()">
            Filtrar
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Data</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Tipo</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transacao of transacoes">
              <td>{{ transacao.data | date: "dd/MM/yyyy" }}</td>
              <td>{{ transacao.descricao }}</td>
              <td>{{ transacao.categoria }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="
                    transacao.tipo === 'entrada' ? 'bg-success' : 'bg-danger'
                  "
                >
                  {{ transacao.tipo === "entrada" ? "Entrada" : "Saída" }}
                </span>
              </td>
              <td
                class="fw-bold"
                [ngClass]="
                  transacao.tipo === 'entrada' ? 'text-success' : 'text-danger'
                "
              >
                {{ transacao.tipo === "entrada" ? "+" : "-" }} R$
                {{ transacao.valor | number: "1.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="transacoes.length === 0" class="text-center py-4">
        <p class="text-muted">Nenhuma transação encontrada.</p>
      </div>
    </div>
  </div>
</div>
